@charset "utf-8";

:root {
  /* 🖋️Gray Scales */
  --gray-0: #FFF;
  --gray-100: #F8F8F8;
  --gray-200: #E9EBED;
  --gray-300: #CACDD2;
  --gray-400: #9FA4A9;
  --gray-500: #73787E;
  --gray-600: #464C52;
  --gray-700: #26282B;
  --gary-800: #1B1D1F;
  --gray-999: #OOO;
  --chrcoal-999: #384452;

  /* 🖋️️Type */
  --text-primary: var(--gray-700);
  --text-secondary: var(--gray-600);
  --text-teritary: var(--gray-400);
  --text-info: var(--gray-400);
  --text-positive: var(--status-lv-00);
  --text-nagative: var(--status-lv-04);
  --text-delay: var(--status-lv-03);

  /* 🚨status */
  --status-lv-00: #067CFD;
  --status-lv-01: #00C400;
  --status-lv-02: #F4BF6E;
  --status-lv-03: #FA560E;
  --status-lv-04: #FF4852;

  /* 💄Primary  */
  --dk-mint-100: #cff2ed;
  --dk-mint-200: #afe9e1;
  --dk-mint-300: #8fdfd4;
  --dk-mint-400: #6fd6c8;
  --dk-mint-500: #4fcdbc;
  --dk-mint-600: #35beac;
  --dk-mint-700: #2c9f8f;
  --dk-mint-800: #1f9389;
  --dk-mint-900: #237f73;

  --dk-orange-100: #FEF7F1;
  --dk-orange-200: #fce8d8;
  --dk-orange-300: #fbd7bb;
  --dk-orange-400: #f9c59e;
  --dk-orange-500: #fbb582;
  --dk-orange-600: #f6a363;
  --dk-orange-700: #fb9851;
  --dk-orange-800: #f59246;
  --dk-orange-900: #f38129;

  --dk-dgb-100: #edf6f7;
  --dk-dgb-200: #c9e2e8;
  --dk-dgb-300: #74a5be;
  --dk-dgb-400: #4e89a6;
  --dk-dgb-500: #447791;
  --dk-dgb-600: #3a667c;
  --dk-dgb-700: #305568;
  --dk-dgb-800: #274553;
  --dk-dgb-900: #1d333e;

  --grd-gray: linear-gradient(46deg, #1B1D1F 0%, #464C52 100%);
  --grd-mint: linear-gradient(46deg, #2D9F90 0%, #50CEBD 100%);
  --grd-dgb: linear-gradient(46deg, #315668 0%, #4E89A6 100%);
  --grd-org: linear-gradient(46deg, #FB9851 0%, #FCB583 100%);

  --character-primary-inverse: #FFF;
  --label-color-dark-primary: #FFF; 

  --bgzt-primary: #D80C18;
  --naver-primary: #03C75A;

  /* Border */
  --border-01: var(--gray-200);

  /* Shadow */
  --shadow-lv-01: 0px 0px 4px 0px rgba(32, 32, 32, 0.20);


  /* Breakpoint */
  --breakpoint-desktop: 1200px;
  --breakpoint-tablets: 768px;
  --breakpoint-mobile: 360px;

  /*!* tablets (가로 해상도가 768px 보다 크고 991px 보다 작은 화면에 적용)  *!*/
  /*@media (min-width: 768px) and (max-width: 991px) {...}*/

  /*!* desktop sub (가로 해상도가 992px 보다 크고 1199px 보다 작은 화면에 적용)  *!*/
  /*@media (min-width: 992px) and (max-width: 1199px) {...}*/

  /*!* desktop main (가로 해상도가 1200px 보다 큰 화면에 적용)  *!*/
  /*@media (min-width: 1200px) {...}*/
}

/* skip navigation */
#u_skip{position:relative;z-index:1000;margin-left:20px}
#u_skip a{position:absolute;top:-30px;left:0;width:128px;border:1px solid #4ec53d;background:url(../img/spr_u_skip.png) repeat-x 0 -11px;text-align:center;outline:none}
#u_skip a:active,#u_skip a:focus{top:0;text-decoration:none;cursor:pointer;zoom:1}
#u_skip span{display:inline-block;padding:2px 6px 0 0;background:url(../img/spr_u_skip.png) no-repeat 100% 11px;font-size:11px;line-height:26px;color:var(--gary-0);letter-spacing:-1px}

/* layout */
.header { 
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8125rem;
  background: var(--dk-dgb-900, #1D333E);
  color: var(--gary-0, #FFF);
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.0625rem;
  }

.main { 
  display: flex;
  margin: 0 auto;
  max-width: 64rem;
  padding: 4rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  }

.footer { 
  display: flex;
  padding: 1.25rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--dk-dgb-900, #1D333E);
  color: var(--gary-0, #FFF);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  }

  /* layout > section  */
  main section { 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

  }
  main section h3 { 
    display: flex;
    padding: 0.25rem 0;
    align-items: center;
    color: var(--dk-dgb-900, #1D333E);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 140%; 
    letter-spacing: -0.03rem;
    text-transform: capitalize;
    }

    /* commons button */
    .btn_view_more {
      margin: 0 auto;
      display: flex;
      width: 7.75rem;
      padding: 0.5rem 1.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border-radius: 3.125rem;
      border: 1px solid var(--gray-800, #1B1D1F);
      color: var(--gray-800, #1B1D1F);
      font-size: 1rem;
      font-weight: 300;
      line-height: 100%; /* 1rem */
      letter-spacing: -0.02rem;
      text-transform: capitalize;
    }
    .btn_view_more:active {
      background-color: var(--dk-dgb-800);
      color: var(--gary-0, #FFF);
      font-weight: 500;
    }
    .btn_copy_text { display: inline-flex; padding: .25rem .5rem; align-items: center; justify-content: center;border: 1px solid var(--gray-300, #CACDD2); 
      border-radius: .25rem; -webkit-border-radius: .25rem; -moz-border-radius: .25rem; -ms-border-radius: .25rem; -o-border-radius: .25rem; } 
    /* .btn_copy_text:active { } */

    
    /* shipment_travel_history */
    /* shipment_travel_history > tracking-wrapper */
    .tracking-wrapper { padding: 1rem; display: flex; justify-content: center; }
    .tracking * { padding: 0; margin: 0; }
    .tracking { width: 32rem; max-width: 100%; position: relative; }
    .tracking .empty-bar { position: absolute; width: 90%; height: 20%; top: 40%; margin-left: 5%; background: var(--gray-200); }
    .tracking .color-bar { background: #F59247; position: absolute; height: 20%; top: 40%; margin-left: 5%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
    }
    .tracking ul {  display: flex; justify-content: space-between; list-style: none; }
    .tracking ul > li { display: inline-block; position: relative; z-index: 1; width: 10%; background: var(--gray-200); text-align: center;  
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
    }
    .tracking ul > li .el { margin-top: 100%; }
    .tracking ul > li .el i { display: none; position: absolute; top:50%; left:50%; transform:translate(-50%,-50%); color: var(--gary-0, #FFF); font-size: 100%; }
    .tracking ul > li .txt { position: absolute; top: 120%; left: -75%;width: 250%; color: var(--gray-500); font-size: 1rem; text-align: center; text-transform: uppercase; }
    
    .tracking .progress-0 .color-bar { width: 00%; }
    .tracking .progress-1 .color-bar { width: 15%; }
    .tracking .progress-2 .color-bar { width: 30%; }
    .tracking .progress-3 .color-bar { width: 45%; }
    .tracking .progress-4 .color-bar { width: 60%; }
    .tracking .progress-5 .color-bar { width: 75%; }
    .tracking .progress-6 .color-bar { width: 90%; }
    .tracking .progress-7 .color-bar { width: 90%; }
    
    .tracking .progress-0 > ul > li.bullet-1,
    .tracking .progress-1 > ul > li.bullet-1,
    .tracking .progress-2 > ul > li.bullet-1,
    .tracking .progress-3 > ul > li.bullet-1,
    .tracking .progress-4 > ul > li.bullet-1,
    .tracking .progress-5 > ul > li.bullet-1,
    .tracking .progress-6 > ul > li.bullet-1,
    .tracking .progress-7 > ul > li.bullet-1
    { background-color: var(--dk-orange-800 ,#F59247); }
    
    .tracking .progress-2 > ul > li.bullet-2,
    .tracking .progress-3 > ul > li.bullet-2,
    .tracking .progress-4 > ul > li.bullet-2,
    .tracking .progress-5 > ul > li.bullet-2,
    .tracking .progress-6 > ul > li.bullet-2,
    .tracking .progress-7 > ul > li.bullet-2
    { background-color: var(--dk-orange-800 ,#F59247); }
    
    .tracking .progress-4 > ul > li.bullet-3,
    .tracking .progress-5 > ul > li.bullet-3,
    .tracking .progress-6 > ul > li.bullet-3,
    .tracking .progress-7 > ul > li.bullet-3
    { background-color: var(--dk-orange-800 ,#F59247); }
    
    .tracking .progress-6 > ul > li.bullet-4,
    .tracking .progress-7 > ul > li.bullet-4
    { background-color: var(--dk-orange-800 ,#F59247); }
    
    .tracking .progress-7 > ul > li.bullet-4
    { background-color: var(--dk-orange-800 ,#F59247); }
    
    .tracking .progress-1 > ul > li.bullet-1 .el i,
    .tracking .progress-2 > ul > li.bullet-1 .el i,
    .tracking .progress-3 > ul > li.bullet-1 .el i,
    .tracking .progress-4 > ul > li.bullet-1 .el i,
    .tracking .progress-5 > ul > li.bullet-1 .el i,
    .tracking .progress-6 > ul > li.bullet-1 .el i,
    .tracking .progress-7 > ul > li.bullet-1 .el i
    { display: block; }
    
    .tracking .progress-3 > ul > li.bullet-2 .el i,
    .tracking .progress-4 > ul > li.bullet-2 .el i,
    .tracking .progress-5 > ul > li.bullet-2 .el i,
    .tracking .progress-6 > ul > li.bullet-2 .el i,
    .tracking .progress-7 > ul > li.bullet-2 .el i
    { display: block; }
    
    .tracking .progress-5 > ul > li.bullet-3 .el i,
    .tracking .progress-6 > ul > li.bullet-3 .el i,
    .tracking .progress-7 > ul > li.bullet-3 .el i
    { display: block; }
    
    .tracking .progress-7 > ul > li.bullet-4 .el i
    { display: block; }
    
    .tracking .progress-1 > ul > li.bullet-1 .txt,
    .tracking .progress-2 > ul > li.bullet-1 .txt,
    .tracking .progress-3 > ul > li.bullet-1 .txt,
    .tracking .progress-4 > ul > li.bullet-1 .txt,
    .tracking .progress-5 > ul > li.bullet-1 .txt,
    .tracking .progress-6 > ul > li.bullet-1 .txt,
    .tracking .progress-7 > ul > li.bullet-1 .txt
    { color: var(--dk-orange-800, #F59247); }
    
    .tracking .progress-3 > ul > li.bullet-2 .txt,
    .tracking .progress-4 > ul > li.bullet-2 .txt,
    .tracking .progress-5 > ul > li.bullet-2 .txt,
    .tracking .progress-6 > ul > li.bullet-2 .txt,
    .tracking .progress-7 > ul > li.bullet-2 .txt
    { color: var(--dk-orange-800, #F59247); }
    
    .tracking .progress-5 > ul > li.bullet-3 .txt,
    .tracking .progress-6 > ul > li.bullet-3 .txt,
    .tracking .progress-7 > ul > li.bullet-3 .txt
    { color: var(--dk-orange-800, #F59247); }
    
    .tracking .progress-7 > ul > li.bullet-4 .txt
    { color: var(--dk-orange-800, #F59247); }
    
    /* Delivery Tracking Status Demo */
    .controls { margin: 1rem; display: flex; flex-direction: row; gap: 1rem; justify-content: flex-start; align-items: flex-start; }
    .controls > div { display: flex; justify-content: flex-start; align-items: space-between; margin: 0; padding: 0; }
    .controls p,
    .controls button {
      padding: 1rem;
      line-height: 140%;
      font-size: 0.8rem;
      text-transform: uppercase;
      border: 0;
    }
    .controls button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 6px;
      background: gray;
      color: #fff;
      border-radius: 50px;
      transition: all .3s;
    }
    .controls button:nth-child(1) { margin-left: 0; }
    .controls button i { margin: 0 .25rem; font-size: 1rem; }
    .controls button:hover,
    .controls button:focus { outline: none; background-color: green; }

    /* item_info */
    /* item_info > order__number */
    .item_info .__order_number { display: flex; gap: .5rem; color: var(--gray-700, #26282B); }
    .item_info .__order_number h4 { text-transform: capitalize; font-weight: 700; }
    .item_info .__order_number p { text-transform: uppercase; }
    /* item_info > __item_info_veiw */
    .item_info .__item_info_veiw, .__delivery_info_table { display: flex; flex-wrap: wrap; border-top: 2px solid var(--gray-500, #73787E); }
    .item_info .__item_info_veiw li { display: flex; padding: .5rem; gap: .25rem; flex: 1 1 calc(calc( 768px - 100% )); justify-content: space-between; align-items: flex-start; flex-direction: column;border: 1px solid var(--gray-200, #E9EBED); }
    .item_info .__item_info_veiw li p:nth-of-type(1), .delivery_info .__delivery_info_table li p:nth-of-type(1) { color: var(--dk-dgb-900, #1D333E); font-size: 0.9375rem; font-weight: 700; line-height: 140%; letter-spacing: -0.01875rem; text-transform: capitalize; }
    .item_info .__item_info_veiw li p:nth-of-type(2), .delivery_info .__delivery_info_table li p:nth-of-type(2) { color: var(--dk-dgb-900, #1D333E); font-size: 1rem; font-weight: 400; line-height: 140%; letter-spacing: -0.02rem; text-transform: uppercase; }
    
    /* delivery_info  */
    /* delivery_info > __delivery_info_table */
    .delivery_info .__delivery_info_table { display: flex; flex-direction: column; }
    .delivery_info .__delivery_info_table li { display: flex; border-bottom: 1px solid var(--gray-200, #E9EBED); }
    .delivery_info .__delivery_info_table li p{ max-height: 2.8125rem; padding: .75rem 1rem; display: flex; justify-content: flex-start; align-items: center; gap: 1rem;}
    .delivery_info .__delivery_info_table li p:nth-of-type(1){ min-width: calc( 100% / 4 ); background: var(--gray-100, #F7F8F9); }
    .delivery_info .__delivery_info_table .LinkToCarrier { text-decoration: underline;}
    .delivery_info .__delivery_info_table .LinkToCarrier:active { color: var(--dk-orange-800, #F59246); }
    /* .delivery_info .__delivery_info_table li p:nth-of-type(2){ } */

    /* delivery_details */
    /* delivery_details > __delivery_site */
   .delivery_details .__delivery_history { display: flex; flex-direction: column; gap: 1rem; }
   .delivery_details .__delivery_history .__delivery_site { display: flex; flex-direction: column; gap: .5rem; }
   .delivery_details .__delivery_history .__delivery_site h3 { gap: 1rem; font-size: 1rem; text-transform: capitalize;}
   .delivery_details .__delivery_history .__delivery_site h3 img { width: 2rem; height: 2rem; display: flex; justify-content: center; align-items: center; object-fit: cover;
    border: 1px solid var(--gray-200, #E9EBED); background: var(--gray-100, #F7F8F9); 
    border-radius: .25rem; -webkit-border-radius: .25rem; -moz-border-radius: .25rem; -ms-border-radius: .25rem; -o-border-radius: .25rem; }
   .delivery_details .__delivery_history .__delivery_site li { display: inline-flex; flex-wrap: wrap; flex-direction: row; align-items: center; }
   .delivery_details .__delivery_history .__delivery_site  .__progress-bar { display: flex; flex-direction: column;  padding: .25rem 1rem; }
   .delivery_details .__delivery_history .__delivery_site  .__progress-bar > li { position: relative; padding-bottom: 1.25rem; border-left: 2px solid var(--gray-300); color: var(--gray-400); }
   .delivery_details .__delivery_history .__delivery_site  .__progress-bar > li.isPkgArrived { color: var(--dk-orange-800); }
   .delivery_details .__delivery_history .__delivery_site  .__progress-bar li .__delivery_site__detail { padding-left: 1rem; display: flex; flex-direction: column; /*gap: .5rem;*/  }
  .delivery_details .__delivery_history .__delivery_site  .__progress-bar > li:before {
    position: absolute;
    top: 0;
    z-index: 3;
    content: "";
    display: block;
    margin: 0 0 0 -.45rem;
    width: .75rem;
    height: .75rem;
    background-color: var(--gray-300);
    border-radius: 50%;
    border: 3px solid var(--gray-300);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
  .delivery_details .__delivery_history .__delivery_site .__progress-bar li.isPkgArrived:before { background-color: var(--dk-orange-800); border: 3px solid var(--dk-orange-800); }

  /* desktop main (가로 해상도 768px 보다 작은 scree에 적용) */
  @media (max-width: 768px) {
  /* layout  */
  .main { padding: 1rem; gap: 1.5rem; }
  .main section { gap: .5rem;}

  /* shipment_travel_history */
  .tracking-wrapper { padding: .25rem; }
  .tracking ul > li .txt { font-size: .75rem; }
  
  /* delivery_info > __delivery_info_table */
  .delivery_info .__delivery_info_table li { flex-direction: column; gap: unset; padding: 0.5rem;gap: 0.25rem; }
  .delivery_info .__delivery_info_table li p { max-height: unset; padding: unset; }
  .delivery_info .__delivery_info_table li p:nth-of-type(1){ width: 100%; background: unset; }

  }